<div *ngIf="dadosFilho.length > 0">
  <div *ngIf="detalhesPokemons.length > 0">
    <div class="tudo">
      <div *ngFor="let pokemon of detalhesPokemons" class="card">
        <div class="titulo-superior">
          <h3> {{ pokemon.name }}</h3>
          <h3>Order: #{{ pokemon.order}}</h3>
        </div>
        <div class="fundo">
            <img src="{{ pokemon.sprites.front_default }}" alt="" />
         
        </div>
        <div class="descricao">
          <h2>Move Name</h2>
          <br />
          <br />
          <span>  Base Experience: <b>{{ pokemon.base_experience }}</b> </span>
          <br />
          <br />
          <span>Type: <b class="tipo"> {{pokemon.types[0].type.name}}</b></span>
          <br />
          <br />
          <span>  Weight: <b>{{ pokemon.weight }}</b> </span>

        </div>
      </div>
    </div>
  </div>
</div>
